#nav{
	background-color:blue;
}
#main{
	background-color:cyan;
}

#container{
	width:900px;
	margin:0 auto 0 auto;
}

#header{
	margin-top:15px;
	margin-bottom:10px;
	border-bottom:1px blue solid;
}

#header_title{
  text-align: center;
}
#header_user{
  text-align: right;
}

#nav{
	width:190px;
	float:left;
}
#main{
	width:700px;
	float:right;
}
#footer{
	clear:both;
	text-align:center;
	background-color:#CCCCFF;
	padding:5px;
}
